// Os arquivos sass possuem uma sintaxe similar
// ao css, mas com propriedades específicas,
// como declaração de variáveis e importações. 
// Aqui importamos o bulma no pacote
@charset "utf-8";
@import "~bulma/bulma";
// Aqui colocamos classes especiais para estilizar o nosso 
// player de vídeo e a seleção dos itens da lista de vídeos. 

.video-list-item:hover {
	cursor: pointer;
}

.youtube-player {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 5%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }